/__pycache__
emotibit_data/*.csv
emotibit_data/*.json
emotibit_data/LSL_recording_timestamps/06032023/expOO1/*.xdf
emotibit_data/LSL_recording_timestamps/*.xdf
/emotibit_data/LSL_recording_timestamps/06032023/exp001/

/pupil_labs_data